*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.main{
width: 50%;
    background-color: black;
    color: whitesmoke;
    padding: 1vw;
    text-align: center;
}
button{
    outline: 0;
    margin-top: 2vw;
    padding: 2vh;
    background-color: darkgray;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-size: larger;
    color: darkslategrey;
}
